* {
    margin: 1px;
    padding: 1px;
    border: 1px solid;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}
    
div {
    margin: 1px;
    padding: 1px;
}

a, b, i{
    border: none;
}

#head {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

#body {
    margin-top: 130px;
    margin-bottom: 25px;
}

#foot {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

table {
    width: 100%;
}

td {
    vertical-align: top;
}

.bordtd {
    width: 25%;
}


.feedtd {
    width: 50%;
    text-align: center;
}

button {
    cursor: pointer;
}

ul, ol {
    list-style-position: inside;
}

li {
    border: none;
}

hr {
    padding: 0;
    margin: 5px;
}

.revTitle a, h1 a{
    text-decoration: none;
}

.revBody {
    text-align: left;
}