.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 5%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modalContent {
    position: relative;
    margin: auto;
    width: 60%;
    animation-name: animateTop;
    animation-duration: 0.4s;
}

@keyframes animateTop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

.close {
    float: right;
    font-size: larger;
    font-weight: bold;
}

.close:hover, .close:focus {
    cursor: pointer;
}

.modalBody {
    overflow: auto;
}